body {
    background-color: #00000057;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #ff0000;
    color: #f6ff00;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 20px 0;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.btn-primary {
    width: 100%;
    background-color: #0073ff;
    border-color: #000000;
}

.btn-primary:hover {
    background-color: #ff0000;
    border-color: #ffffff;
}
